<div class="container">
    <%= react_component("containers/TradingContainer", { title: "Pokemon Trading Calculator", items: @pokemons }) %>
</div>

<div class="container">
    <%= react_component("containers/TradeEntriesContainer", { title: "Latest Entries", tradeEntries: @trade_entries }) %>
</div>
